    .container {
        display: flex;
        justify-content: space-between;
        background: radial-gradient(circle, #7bfe91, #000000);
        height: 50px;
        align-items: center;
        font-family: 'Montserrat',sans-serif;
    }

    div #button {
        background-color: #7bfe91;
        border-radius: 10%;
        padding: 10px;
    }

   #titulo > * {
        display: flex;
        color: white;
        justify-content: center;
        font-family: 'Montserrat',sans-serif;
        font-size: ;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        
    }

     .grid-container > .desc {
        color: white;
        font-family: 'Montserrat',sans-serif;
        margin-left: 100px;
        font-size: 38px;
        text-align: justify;
     }

     .botao {
        color: white;
        order: 1;
        font-family: 'Montserrat',sans-serif;
        margin-left: 100px;
        font-size: 2rem;
        text-align: center;
        border: #7bfe91 solid ;
        align-content: center;
        height: 120px;
        border-radius: 15%;
    }   
 
    h1 {
        font-size: 50px;
    }

